In [140]:
import pandas as pd
import numpy as np

In [141]:
election_data = "raw data/election_data.csv"

In [142]:
election_data_pd = pd.read_csv(election_data)
election_data_pd.head()

   Voter ID County Candidate
0  12864552  Marsh      Khan
1  17444633  Marsh    Correy
2  19330107  Marsh      Khan
3  19865775  Queen      Khan
4  11927875  Marsh      Khan

In [143]:
#The total number of votes cast
total_votes = election_data_pd["Voter ID"].count()
total_votes

3521001

In [144]:
#A complete list of candidates who received votes
candidates = election_data_pd["Candidate"].unique()
candidates

array(['Khan', 'Correy', 'Li', "O'Tooley"], dtype=object)

In [145]:
votes_df = election_data_pd.set_index("Candidate")
votes_df.head()

           Voter ID County
Candidate
Khan       12864552  Marsh
Correy     17444633  Marsh
Khan       19330107  Marsh
Khan       19865775  Queen
Khan       11927875  Marsh

In [146]:
#grouped by candidate

votes_grouped = votes_df.groupby(["Candidate"])
votes_grouped.count().head()

           Voter ID   County
Candidate
Correy       704200   704200
Khan        2218231  2218231
Li           492940   492940
O'Tooley     105630   105630

In [147]:
#The total number of votes each candidate won
votes = pd.DataFrame(votes_grouped["Voter ID"].count())
votes

           Voter ID
Candidate
Correy       704200
Khan        2218231
Li           492940
O'Tooley     105630

In [148]:
#The percentage of votes each candidate won
votes_per_candidate = votes/total_votes * 100
votes_per_candidate

            Voter ID
Candidate
Correy     19.999994
Khan       63.000011
Li         13.999996
O'Tooley    2.999999

In [150]:
votes["Percentage Won"] = votes_per_candidate
votes

           Voter ID  Percentage Won
Candidate
Correy       704200       19.999994
Khan        2218231       63.000011
Li           492940       13.999996
O'Tooley     105630        2.999999

In [151]:
#The winner of the election based on popular vote.
votes_sorted = votes.sort_values("Voter ID", ascending = False)
votes_sorted

           Voter ID  Percentage Won
Candidate
Khan        2218231       63.000011
Correy       704200       19.999994
Li           492940       13.999996
O'Tooley     105630        2.999999

In [152]:
renamed_df = votes_sorted.rename(columns={"Voter ID": "Total Votes"})
renamed_df

           Total Votes  Percentage Won
Candidate
Khan           2218231       63.000011
Correy          704200       19.999994
Li              492940       13.999996
O'Tooley        105630        2.999999

In [153]:
winner = renamed_df.idxmax()
winner

Total Votes       Khan
Percentage Won    Khan
dtype: object

In [175]:
print("Election Results")
print('-----------------------')
print(f"Total Votes: {str(total_votes)}")
print('-----------------------')
print("Khan: " + str("{0:.3f}".format(renamed_df.loc["Khan", "Percentage Won"]))+"% ("
      + str(renamed_df.loc["Khan", "Total Votes"])+")")
print("Correy: " + str("{0:.3f}".format(renamed_df.loc["Correy", "Percentage Won"]))+"% ("
      + str(renamed_df.loc["Correy", "Total Votes"])+")")
print("Li: " + str("{0:.3f}".format(renamed_df.loc["Li", "Percentage Won"]))+"% ("
      + str(renamed_df.loc["Li", "Total Votes"])+")")
print("O'Tooley: " + str("{0:.3f}".format(renamed_df.loc["O'Tooley", "Percentage Won"]))+"% ("
      + str(renamed_df.loc["O'Tooley", "Total Votes"])+")")
print('-----------------------')
print("Winner: " + winner)

Election Results
-----------------------
Total Votes: 3521001
-----------------------
Khan: 63.000% (2218231)
Correy: 20.000% (704200)
Li: 14.000% (492940)
O'Tooley: 3.000% (105630)
-----------------------
Total Votes       Winner: Khan
Percentage Won    Winner: Khan
dtype: object

In [182]:
Election_Results = (
    "Election Results" + 
    '-----------------------'+ 
    f"Total Votes: {str(total_votes)}"+
    '-----------------------' + 
    "Khan: " + str("{0:.3f}".format(renamed_df.loc["Khan", "Percentage Won"]))+"% ("
      + str(renamed_df.loc["Khan", "Total Votes"])+")" + 
    "Correy: " + str("{0:.3f}".format(renamed_df.loc["Correy", "Percentage Won"]))+"% ("
      + str(renamed_df.loc["Correy", "Total Votes"])+")" + 
    "Li: " + str("{0:.3f}".format(renamed_df.loc["Li", "Percentage Won"]))+"% ("
      + str(renamed_df.loc["Li", "Total Votes"])+")" +
    "O'Tooley: " + str("{0:.3f}".format(renamed_df.loc["O'Tooley", "Percentage Won"]))+"% ("
      + str(renamed_df.loc["O'Tooley", "Total Votes"])+")" +
    '-----------------------' +
    "Winner: " + winner )
print(Election_Results)

Total Votes       Election Results-----------------------Total V...
Percentage Won    Election Results-----------------------Total V...
dtype: object

In [187]:
Election_Results.to_csv("analysis/PyPoll.txt")